<div class="container dash__container p-5">
  <div class="row mb-1">
    <!--CHARTS-->
    <div class="col-8 p-1 dash__post">
      <div class="charts p-3">
        <h1>Charts</h1>
        <h3>See charts for crypto currency you own</h3>
        <div class="details">
          <button mat-raised-button color="accent" routerLink="../Charts">Details</button>
        </div>
      </div>
    </div>
    <!--BALANCE-->
    <div class="col-4 p-1 dash__post">
      <div class="balance p-3">
        <h1>Balance</h1>
        <h3>Total balance of all your crypto currency</h3>
        <div class="balance__details mt-5">
          <app-wallet-value></app-wallet-value>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--WALLET-->
    <div class="col-4 p-1 dash__post">
      <div class="wallet p-3">
        <h1>Wallet</h1>
        <h3>See records of your purchases</h3>
        <div class="details">
          <button mat-raised-button color="accent" routerLink="../Records">Details</button>
        </div>
      </div>
    </div>

    <!--NEWS-->
    <div class="col-8 p-1 dash__post">
      <div class="news p-3">
        <h1>News</h1>
        <h3>Read news about crypto world</h3>
        <div class="details">
          <button mat-raised-button color="accent" routerLink="../News">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
