.dash__post {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  transition: all 400ms ease-in-out;

  .charts {
    background-image: url(../../../assets/images/charts.jpeg);
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;

    &:hover {
      .details {
        width: 100%;
      }
    }
  }

  .balance {
    border-radius: 30px;
    box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;

    &__details {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .wallet {
    background-image: url(../../../assets/images/wallet.jpeg);
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;

    &:hover {
      .details {
        width: 100%;
      }
    }
  }

  .news {
    background-image: url(../../../assets/images/news.jpeg);
    background-size: cover;
    border-radius: 30px;
    height: 100%;
    width: 100%;

    &:hover {
      .details {
        width: 100%;
      }
    }
  }
}

.details {
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: center;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  width: 0;
}
