.asset-row {
  border-radius: 16px;
  background-color: var(--primary-color);
  box-shadow: 0 0 4px 2px var(--accent-color);

  mat-icon {
    font-size: 30px;
  }
}

.down {
  color: var(--light-primary-text);
  animation-name: down;
  animation-duration: 4s;
}

@keyframes down {
  0% {
    color: var(--light-primary-text)
  }
  50% {
    color: var(--down)
  }
  0% {
    color: var(--light-primary-text)
  }
}

.up {
  color: var(--light-primary-text);
  animation-name: up;
  animation-duration: 4s;

}

@keyframes up {
  0% {
    color: var(--light-primary-text)
  }
  50% {
    color: var(--up)
  }
  0% {
    color: var(--light-primary-text)
  }
}

.flat {
  color: var(--light-primary-text);
  animation-name: flat;
  animation-duration: 4s;

}

@keyframes flat {
  0% {
    color: var(--light-primary-text)
  }
  50% {
    color: var(--flat)
  }
  0% {
    color: var(--light-primary-text)
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93vw;
  height: 50vh;
}


