<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12">
      <h1
        [class]="{'down': walletValue < walletValueCache, 'up': walletValue > walletValueCache, 'flat': walletValue === walletValueCache }">
        {{walletValue | number: '1.2-2'}}
      </h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row asset-row p-3 mb-3">
    <div class="col-3 d-flex justify-content-start align-items-center">
      Asset Name
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      Amount Hold
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      Value per unit
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      Total wallet value
    </div>
  </div>
  <div class="row asset-row p-3 mb-3" *ngFor="let account of accountsData; let i = index">
    <div class="col-3 d-flex flex-column justify-content-center align-items-start">
      <div>
        <p>
          {{account.currency.name}}
        </p>
      </div>
      <div>
        <p style="color:{{account.currency.color}}">
          {{account.currency.code}}
        </p>
      </div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <p>
        {{account.balance.amount}}
      </p>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <p
        [class]="{'down': account.exchangeRate < accountsDataCache[i]?.exchangeRate, 'up': account.exchangeRate > accountsDataCache[i]?.exchangeRate, 'flat': account.exchangeRate === accountsDataCache[i]?.exchangeRate }">
        {{account.exchangeRate | number: '1.2-2'}}€
      </p>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <p
        [class]="{'down': account.totalValue < accountsDataCache[i]?.totalValue, 'up': account.totalValue > accountsDataCache[i]?.totalValue, 'flat': account.totalValue === accountsDataCache[i]?.totalValue }">
        {{account.totalValue | number: '1.2-2'}}€
      </p>
    </div>
  </div>
</div>
