// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@import "style/material_custom_theme";


@import "style/main";
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0 !important;
  padding: 0 !important;
}


//MATERIAL CUSTOMIZATION

mat-form-field {
  width: 100%;

  .mat-form-field-wrapper {
    padding: 0;
  }
}

mat-sidenav-container {
  height: 100vh;

  mat-sidenav-content {
    background-color: var(--primary-darker-color) !important;
    color: var(--light-primary-text) !important;
  }

  mat-sidenav {
    background-color: var(--primary-color) !important;
    color: var(--light-primary-text) !important;
    width: 15vw;
  }
}

mat-action-list {
  height: 50%;
  width: 100%;

  button {
    p {
      color: var(--light-primary-text);
      margin-left: 10px !important;
    }
  }
}

table {
  width: 100%;
}




