<mat-toolbar color="primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 d-flex justify-content-start align-items-center">
        <button color="accent" mat-mini-fab (click)="sidenavEmitter.emit()">
          <mat-icon>
    <span class="material-icons-two-tone">
      menu
    </span>
          </mat-icon>
        </button>
      </div>
      <div class="col-2 d-flex justify-content-start align-items-center">
        <span class="ml-5">CRYPTO-MANAGER</span>
      </div>
    </div>
  </div>

</mat-toolbar>
