<mat-toolbar color="primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 d-flex justify-content-center align-items-center">
        <button mat-icon-button routerLink="" matTooltip="Dashboard" matTooltipPosition="below" matTooltipHideDelay="100">
          <mat-icon>dashboard</mat-icon>
        </button>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center">
        <button mat-icon-button routerLink="buy-history"  matTooltip="Purchase History" matTooltipPosition="below" matTooltipHideDelay="100">
          <mat-icon>price_check</mat-icon>
        </button>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center">
        <button mat-icon-button routerLink="wallet" matTooltip="Wallet" matTooltipPosition="below" matTooltipHideDelay="100">
          <mat-icon>account_balance_wallet</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

