<div class="container mt-5">
  <div class="row">
    <div class="col-5">
      <mat-card>
        <mat-card-title>
          Own Assets
        </mat-card-title>
        <mat-card-subtitle>
          The Assets stored in the wallet
        </mat-card-subtitle>
        <mat-card-content>
          <mat-list class="assets__list">
            <mat-list-item>
              <mat-icon matListIcon>
                monetization_on
              </mat-icon>
              <h3 matLine> Asset Name </h3>
              <p matLine>
                quantity
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="wallet">
            <mat-icon>find_in_page</mat-icon>
            <span>Details</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
