<div class="container-fluid wallet-component">
  <div class="row mb-5">
    <div class="col-12">
      <h1>Your Wallet</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-start align-items-center">
      <mat-tab-group color="accent">
        <!--TAB 1-->
        <mat-tab label="Wallet Data">
          <app-wallet-data [accountsData]="accountData | async" [rates]="rates | async"></app-wallet-data>
        </mat-tab>
        <!--TAB 2-->
        <mat-tab label="History">
          <app-wallet-history></app-wallet-history>
        </mat-tab>

      </mat-tab-group>

    </div>
  </div>
</div>
