.main-content {
  padding: 20px;

  .content-window {
    padding: 20px;
    border-radius: 16px;
    color: var(--light-primary-text);
  }
}

.sidenav-logo {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
}

.sidenav-menu {
  align-items: flex-start;
  display: flex;
  height: 80vh;

  .sidenav-item-text {
    color: var(--white-text);
  }
}
