<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="push">
    <div class="sidenav-logo">
      <h1>CM</h1>
    </div>
    <div class="sidenav-menu">
      <mat-action-list>
        <button (click)="sidenav.close()" *ngFor="let menuConfig of sideNavConfig" [routerLink]="menuConfig.routeLink"
                mat-list-item>
          <mat-icon class="ml-3" color="accent">
            {{menuConfig.icon}}
          </mat-icon>
          <span class="sidenav-item-text">
            {{menuConfig.displayValue}}
          </span>
        </button>
      </mat-action-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (sidenavEmitter)="sidenav.toggle()"></app-navbar>
    <div class="main-content">
      <div class="content-window">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
